atomicwrites==1.3.0
attrs==18.2.0
autopep8==1.4
certifi==2018.11.29
chardet==3.0.4
codecov==2.0.15
colorama==0.4.1
coverage==4.5.2
et-xmlfile==1.0.1
future==0.16.0
gunicorn==19.9.0
idna==2.7
jdcal==1.4
jedi==0.13.1
mccabe==0.6.1
more-itertools==6.0.0
openpyxl==2.5.14
parso==0.3.1
pluggy==0.7.1
psycopg2==2.7.6.1
py==1.8.0
pycodestyle==2.4.0
pydocstyle==2.1.1
pyflakes==2.0.0
pytest==4.3.0
pytest-cov==2.6.1
python-dateutil==2.7.5
python-language-server==0.21.2
pytz==2018.7
requests==2.20.1
rope==0.11.0
six==1.11.0
slackclient==1.3.0
snowballstemmer==1.2.1
urllib3==1.24.1
websocket-client==0.54.0
whitenoise==4.1.2
xlrd==1.2.0
yapf==0.24.0
